 .container  select {
  width: 110px;
  min-width: 110px;
  flex-shrink: 0; 
  padding: 10px 14px 10px 36px;
  border-radius: 10px;
  border: 1px solid #c59af5;
  background-color: #f7efff;
  font-size: 12px;
  color: #4a0072;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%239b4de5' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5.5 7l4.5 4 4.5-4'/></svg>");
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 14px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}


  .container select > option {
  background: white !important;
  color: #4a0072 !important;
}

select:focus > option:checked,
select option:hover,
select option:focus,
select option:active,
select option:checked {
  background: #e6d6ff !important; 
  color: #4a0072 !important;
}


_::-webkit-full-page-media, _:future, :root select option,
_::-webkit-full-page-media, _:future, :root select option:hover,
_::-webkit-full-page-media, _:future, :root select option:checked,
_::-webkit-full-page-media, _:future, :root select option:focus {
  background: #e6d6ff !important;
  color: #4a0072 !important;
}