.btnsfilter{
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 50px;
}
.btnsfilter div{
    margin:0 10px;
    width: 90%;
    display: flex;
    justify-content:center;
    margin-left: 5px;
}
.btnsfilter div button{
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(195, 154, 233);
     margin-left: 5px;
}
.btnsfilter div button:hover {
    background-color: rgb(45, 3, 42);
    color:white;
    transition: all 0.5s ease-in-out;
}
.btnsfilter .datafilter {
    width: 70%;
    display: flex;
    justify-content: center !important;
    margin-Top: 20px;
}
.btnsfilter .datafilter p{
      text-align: center;
      padding: 5px;
      
}
.btnsfilter .datafilter div {
    width: 100%;
    display: flex;
    justify-content: center !important;
border: 1px solid #ccc; 
   border-radius: 5px;
   margin-top: 5px;
}

.btnsfilter .datafilter div p{
    font-size: 14px;
}

.activeBtn {
  background-color: rgb(45, 3, 42) !important;
  color: white;
  
}