.container {
  width: 420px;
  display: flex;
  min-height: 400px;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(255, 254, 252);

  border: 1px solid rgb(201, 198, 198);
  margin-top: 80px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "YekanBakh", -apple-system, BlinkMacSystemFont, "Segoe UI" !important;
}

.container .title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  color: rgb(28, 28, 28);
  border-radius: 10px;
  margin-top: 10px;
}
.addworks {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
  position: relative;
}

.addworks input {
  width: 90%;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid rgb(216, 216, 216);
  font-size: 14px;
  line-height: 1.4;
  box-sizing: border-box;
  outline: #c59af5;
}

.addworks button {
  padding: 15px 20px;
  border-radius: 100%;
  background-color: rgb(195, 154, 233);
  color: white;
  border: none;
  position: absolute;
  left: 30px;
  bottom: 10px;
}
.addworks button:hover {
  background-color: rgb(45, 3, 42);
  color: white;
  transition: all 0.5s ease-in-out;
}

.errorMsg {
  margin-top: 10px;
  padding: 8px;
  color: white;
  background-color: gold;
  border-radius: 5px;
  text-align: center;
  font-family: "YekanBakh", sans-serif;
}
